h1 {
  font-size: 15vh;
  text-align: center;
  padding-bottom: 0.05vh;
  margin: 0px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  width: 100vw;
  margin: 0px;
}
.searchbar {
  display: flex;
  justify-content: center;
}
.searchbar input {
  padding: 0px;
  width: 40vw;
  height: 5vh;
}
